  <div class="aboutsection">
    <div class = "introWrap">
    <h1 id = "aboutTitle">About</h1>        
        <div class="familyrow">
          <div class="fam family1">
            <img src="../../assets/kristen_john.JPG" alt="Family" width="450" height="500" class="kristen">
          </div>
          
          <div class = " fam postTitleSection">
              <p class="aboutquote">"It always seems</p>
              <p class="aboutquote">impossible</p>
              <p class="aboutquote">until it's done."</p>
              <p class="aboutquote">- Nelson Mandela</p>
          </div>
          
          <div class="fam family2">
            <img src="../../assets/kellyandsister.jpeg" alt="Family" width="450" height="500" class="kelly">
          </div>
         
       </div>
  <div class="aboutcontent">
  <p>Shooting Stars is a productivity tool aimed to provide a structured environment for children with special needs. The application allows parents, care givers and teachers the ability to set daily goals that aid in providing a visual representation of a child’s day, teach them important skills and encourage independence.

    The child is awarded a star each time a goal is completed and the stars are tracked using a points system to allow the parent/guardian to reward the child once a certain amount of stars have been earned.
    
    You can view this application by following this link: https://kew-clientstars.herokuapp.com/</p>
  </div>
  </div>
  <br />
        <div class="meettheteam">
        <h2 class="theteam1">The Team</h2>
        <div class="row">
            <div class="column">
                <div class="card" class="quincy">
                  <img src="/assets/HodgeQuincy.jpeg" alt="Quincy">
                  <div class="container">
                    <h3>Quincy Hodge</h3>
                    <p class="title">Software Developer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                  </div>
                </div>
              </div>
          
            <div class="column">
              <div class="card" class="kristen">
                <img src="/assets/CasselmanKristen.jpeg" alt="Kristen">
                <div class="container">
                  <h3>Kristen Casselman</h3>
                  <p class="title">Software Developer</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                </div>
              </div>
            </div>
        
            <div class="column">
                <div class="card" class="kelly">
                  <img src="/assets/WilliamsKelly.jpeg" alt="Kelly">
                  <div class="container">
                    <h3>Kelly Williams</h3>
                    <p class="title">Software Developer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                  </div>
                </div>
              </div>
        
            <div class="column">
              <div class="card" class="ieshia">
                <img src="/assets/HillIeshia.jpeg" alt="Ieshia">
                <div class="container">
                  <h3>Ieshia Hill</h3>
                  <p class="title">Software Developer</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>

