<body class="body">
  <div class="aboutsection">
  <h1>About</h1>
  <p class="aboutquote">"It always seems impossible until it's done." - Nelson Mandela</p>
  <div class="aboutcontent">
  <p>Shooting Stars is a productivity tool aimed to provide a structured environment for children with special needs. The application allows parents, care givers and teachers the ability to set daily goals that aid in providing a visual representation of a child’s day, teach them important skills and encourage independence.

    The child is awarded a star each time a goal is completed and the stars are tracked using a points system to allow the parent/guardian to reward the child once a certain amount of stars have been earned.
    
    You can view this application by following this link: https://kew-clientstars.herokuapp.com/</p>
  </div>
  </div>
  
  <div class="familyrow">
    <div class="family column">
  <img src="../../assets/kristen_john.JPG" alt="Family" width="450" height="500" class="kristen">
  </div>
  <div class="family column">
  <img src="../../assets/kellyandsister.jpeg" alt="Family" width="450" height="500" class="kelly">
  </div>
  </div>
  
  <br />
  <div class="meettheteam">
  <h1 class="theteam1">The Team</h1>
  <div class="row">
      <div class="column">
          <div class="card">
            <img src="/assets/HodgeQuincy.jpeg" alt="Quincy" style="width:100%; height:520px">
            <div class="container">
              <h2>Quincy Hodge</h2>
              <p class="title">Software Developer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>example@example.com</p>
            </div>
          </div>
        </div>
    
      <div class="column">
        <div class="card">
          <img src="/assets/CasselmanKristen.jpeg" alt="Kristen" style="width:100%; height:520px">
          <div class="container">
            <h2>Kristen Casselman</h2>
            <p class="title">Software Developer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
          </div>
        </div>
      </div>
  
      <div class="column">
          <div class="card">
            <img src="/assets/WilliamsKelly.jpeg" alt="Kelly" style="width:100%; height:520px">
            <div class="container">
              <h2>Kelly Williams</h2>
              <p class="title">Software Developer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>example@example.com</p>
            </div>
          </div>
        </div>
  
      <div class="column">
        <div class="card">
          <img src="/assets/HillIeshia.jpeg" alt="Ieshia" style="width:100%; height:520px">
          <div class="container">
            <h2>Ieshia Hill</h2>
            <p class="title">Software Developer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem. Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

