<div class="resources">

<h2>Resources</h2>
<div class="row">
    <div class="column" style="background-color:rgb(240, 239, 247);">
    <h2>Blogs</h2>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
  </div>

<div class="column" style="background-color:rgb(230, 228, 245);">
    <h2>Parks</h2>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
  </div>

<div class="column" style="background-color:rgb(240, 239, 247);">
    <h2>Hospitals</h2>
    <p>Riley Children's Hospital</p>
    <p>Riley Children's Hospital</p>
</div>
</div>
