<div class="resources">

    <h2 id="resourcestext">Resources</h2>
    
    <div class="row">
        <div class="blogscolumn" style="background-color:rgb(240, 239, 247);">
        <h2>Blogs</h2>
        <p><a href="http://bloom-parentingkidswithdisabilities.blogspot.com/">BLOOM-Parenting Kits With Disabilities</a></p>
        <p></p>
        <p><a href="https://specialneedsjungle.com/">Special Needs Jungle</a></p>
        <p><a href="https://www.parentingspecialneeds.org/" >Parenting Special Needs Magazine</a></p>
        <p><a href="https://www.specialneedsalliance.org/blog/" >Special Needs Alliance</a></p>
        <p><a href="https://www.lovethatmax.com/">Love That Max</a></p>
        <p><a href="https://pcwsn.com/blog/">The PCWSN Parenting Children With Special Needs Blog</a></p>
        <p><a href="https://embracingimperfect.com/">Embracing Perfect</a></p>
        <p><a href="http://atypicalfamilia.com/">Atypical Famailia</a></p>
        <p><a href="http://www.livebetterwithdisability.com/home/" >Live Better Moms of Kids with Special Needs</a></p>
        <p><a href="https://www.lovethatmax.com/">Different Dream Living</a></p>
      </div>
    
    
    
    <div class="parkscolumn" style="background-color:rgb(230, 228, 245);">
        <h2>Parks</h2>
        <h3>Central</h3>
        <p>Park Name: Brooks School Park
           Address: 11780 Brooks School Road Fishers</p>
        <p>Park Name:  Freedom Trail Park
           Address:  500 Deer Walk Trace, Westfield
        </p>
        <p>Park Name: "Everybody's Playground" at River Heritage Park
           Address:  11813 River Road, Carmel</p>
        <p>Park Name:  Independence Park
           Address:  2100 S. Morgantown Road, Greenwood</p>
    
        <h3>North</h3>
        <p>Park Name: Friendship Corner at Matter Park
           Address:  1803 North Quarry Road, Marion</p>
    
        <p>Park Name: Taylor's Dream Boundless Playground
           Address: N. River Rd, Fort Wayne</p>
        <h3>South</h3>
        <p>Park Name: Tony Stewart Playground
           Address: Locust Dr (north of US 31/National Rd, off of Westenedge Dr), Columbus
        </p>
        <p>Park Name: Freedom Field
           Address: 1400 Parkside Drive, Columbus
        </p>
      
      </div>
    
    
    
    
    <div class="hospitalscolumn" style="background-color:rgb(240, 239, 247);">
        <h2>Hospitals</h2>
        <p>Riley Children's Hospital</p>
        <p>705 Riley Hospital Dr. Indianapolis, IN 46202</p>
        <p>317-944-5000</p>
        <p><a href="https://www.rileychildrens.org/departments/developmental-pediatrics">Riley Childrens Hospital</a></p>
    
        <p>Peyton Manning Children’s Hospital</p>
        <p>8402 Harcourt Rd.,Suite 105,
            Indianapolis, IN 46260</p>
        <p>317-582-8290</p>    
        <p><a href="http://www.peytonmanningch.org/developmental-behavior/">Peyton Manning Childrens Hospital</a></p>
      </div>
    </div>