@import url(../../variables.css);

.resources {
    margin: auto;
    background-color: rgb(250, 250, 250);
    height: 1000px;
}

.blogscolumn {
    width: 30%;
}

.parkscolumn {
    width: 30%;
}

.hospitalscolumn {
    width: 30%;
}

h2 {
    color: rgb(50, 4, 70);
    text-align: left;
}

