@import url(../../variables.css);

.resources {
    background-color: rgb(250, 250, 250);
    height: 1000px;
    text-align: center;
}

#resourcestext {
    text-align: left;
    /* margin: 30px; */
}

.blogscolumn {
    width: 38%;
}

.parkscolumn {
    width: 30%;
}

.hospitalscolumn {
    width: 30%;
}

h2 {
    color: rgb(50, 4, 70);
    text-align: center;
}

a {
    color: rgb(120, 75, 143);
}

a:hover {
    color: rgb(81, 52, 94);
}

