<div class="resources">

<h2>Resources</h2>

<div class="row">
    <div class="blogscolumn" style="background-color:rgb(240, 239, 247);">
    <h2>Blogs</h2>
    <p><a href="http://bloom-parentingkidswithdisabilities.blogspot.com/">BLOOM-Parenting Kits With Disabilities</a></p>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
    <p>BLOOM</p>
  </div>



<div class="parkscolumn" style="background-color:rgb(230, 228, 245);">
    <h2>Parks</h2>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
    <p>Brooks School Park</p>
  </div>




<div class="hospitalscolumn" style="background-color:rgb(240, 239, 247);">
    <h2>Hospitals</h2>
    <p>Riley Children's Hospital</p>
    <p>705 Riley Hospital Dr. Indianapolis, IN 46202</p>
    <p>317-944-5000</p>
</div>


</div>
