@import url(../../variables.css);

/* login page background color */
.login {
    background-color: rgb(250, 250, 250);
    height: 1000px;
}

h2 {
    text-align: center;
    color:rgb(50, 4, 70);
}

.loginform1 {
        margin: auto;
        width: 500px;
        border-radius: 3%;
        padding: 20px;
        border: solid 1px;
        color: rgb(83, 75, 128);
        height: 325px;
}

/*styling for email and password boxes*/
.login .inputfield {
    border: solid 1px;
    color: rgb(83, 75, 128);
    width: 400px;
    height: 70px;
    margin: auto;
    padding: 20px;
    border-radius: 40px;
  }
  
.email {
      margin: auto;
  }

.password {
    margin-bottom: 20px;
}

.button {
      margin-top: 50px;
  }

body {
    width: 100%;
    height: 1000px; 
    text-align: center;
}


/*login form positioning*/
.loginform {
    display: block;
    text-align: center;
    justify-content: center;
    position: relative;
    width: 50%;
    height: 45%;
    padding: 12px 20px;
    margin: auto; 
}


/*login button styling*/
.loginbutton {
    background-color: rgb(83, 75, 128);
}


.loginbutton:hover {
    background-color: rgb(137, 125, 182);
    opacity: 0.75;
}

.register {
    color: rgb(83, 75, 128);

}
