  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <div class="input-group">
              <div class="input-group-prepend">
              <input type="text" class="form-control" placeholder="Enter Pin" aria-label="Pin" aria-describedby="basic-addon1">
              <button class="my-2 my-sm-0" type="submit">Enter</button>
            </div>
            </div>
          </form>
        </nav>
      <a class="navbar-brand" href="goals">Goals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        
          <li class="nav-item">
            <a class="nav-link" href="resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="auth">Auth</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="settings">Settings</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="logout">Logout</a>
            </li>
          <li class="nav-item dropdown">
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a> -->
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> -->
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </nav>

   