 <div>

    <mat-card>
      <mat-card-title>Lets get Started!</mat-card-title>

      <mat-card-actions>
        <button mat-raised-button  class="btn btn-lg btn-outline-primary" (click)="openDialog()">Add a goal!</button>
      </mat-card-actions>
    </mat-card>

</div>

<div class="example-container">
<div>
    <mat-form-field hintLabel="Max 4 characters">
    <input class="input" matInput #input maxlength="4" placeholder="">
    <mat-hint align="end">{{input.value?.length || 0}}/4</mat-hint>
    </mat-form-field>
</div>
<button class="submitPin" mat-raised-button (click)="onSubmit(input.value)">Submit Pin</button>
</div>

<div>
    <div #emptyStar *ngIf="star === false">
        <button mat-icon-button (click)="onStarClicked()" class="material-button1">
        <mat-icon class="material-icon1" svgIcon="star_border"></mat-icon>
        </button>
    </div>
    <div #filledStar *ngIf="star === true">
        <button mat-icon-button (click)="onStarUnclicked()" class="material-button2">
        <mat-icon class="material-icon2" svgIcon="star"></mat-icon>
        </button>
    </div>
</div> 
