<div class = "viewgoals">
    <div class="main">
            <div>      
                <mat-card>
                    <mat-card-title>Lets Shoot For The Stars!</mat-card-title>

                    <mat-card-actions>
                        <button mat-raised-button disabled *ngIf="this.disabled === true" class="addgoalbutton" (click)="openDialog()">Add a Goal!</button>
                        <button mat-raised-button *ngIf="this.disabled === false" class="addgoalbutton" (click)="openDialog()">Add a Goal!</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            
            <div class="enterPin">
                    <mat-form-field hintLabel="Max 4 characters">
                        <input class="input" matInput #input maxlength="4" placeholder="">
                        <mat-hint align="end">{{input.value?.length || 0}}/4</mat-hint>
                    </mat-form-field> 
                    <button class="submitPinButton" mat-raised-button (click)="onSubmit(input.value)">Submit Pin</button>
            </div>
            

            <div class = "tableWrap">
                <div class="table">
                    
                          <table class="actualTable" mat-table [dataSource]="currentGoals" matSort>
                            <ng-container matColumnDef="id">
                              <th mat-header-cell showCoulmn showInput="none" *matHeaderCellDef mat-sort-header > # </th>
                              <td mat-cell showCoulmn showInput="none" *matCellDef="let goal">{{goal.id}}</td>
                            </ng-container>
                      
                            <ng-container matColumnDef="goal">
                              <th mat-header-cell *matHeaderCellDef> Goal </th>
                              <td mat-cell *matCellDef="let goal">{{goal.goal}}</td>
                            </ng-container>
                      
                            <ng-container matColumnDef="dueDate">
                              <th mat-header-cell *matHeaderCellDef> Due Date </th>
                              <td mat-cell *matCellDef="let goal">{{goal.dueDate | date}}</td>
                            </ng-container>
                            
                            <ng-container matColumnDef="stars">
                                <th mat-header-cell *matHeaderCellDef> Stars </th>
                                <td mat-cell *matCellDef="let goal">
                                    <button #emptyStar *ngIf="goal.starred === null || goal.starred === false" mat-icon-button (click)="onStarClicked(goal)" class="material-button1">
                                        <mat-icon class="iconButton material-icon1" svgIcon="star_border"></mat-icon>
                                    </button>
                                    <button #filledStar *ngIf="goal.starred === true"mat-icon-button (click)="onStarUnclicked(goal)" class="material-button2">
                                        <mat-icon class="iconButton material-icon2" svgIcon="star"></mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="editDelete">
                                    <th mat-header-cell *matHeaderCellDef> Edit/Delete </th>
                                    <td mat-cell *matCellDef="let goal">
                                        <button mat-icon-button disabled *ngIf="this.disabled === true" #editGoal class="material-button2" [id]='goal.id'(click)="openDialog2(goal.id)">
                                            <mat-icon class="iconButton material-icon3" svgIcon="create"></mat-icon>
                                        </button>
                                        <button mat-icon-button *ngIf="this.disabled === false" #editGoal class="material-button2" [id]='goal.id'(click)="openDialog2(goal.id)">
                                                <mat-icon class="iconButton material-icon3" svgIcon="create"></mat-icon>
                                        </button>
                                        </td>
                                </ng-container>
                      
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectRow(row)"></tr>
                          </table>
                </div> 
            </div>
    </div>
</div>


