/* You can add global styles to this file, and also import other style files */
:root {
    --y1: #FFDC90;
    --y2: #FFCE61;
    --y3: #FFC23A;
    --y4: #FFB510;
    --y5: #F7AA00;
    /*blues*/
    --b3: rgb(162, 177, 243);
    --b5: rgb(119, 148, 243);
    --p1: rgb(50, 30, 235);
    --p2: rgb(32, 8, 139);
    --p3: rgb(8, 3, 66);
    /*purples*/
    --p4: rgb(166, 132, 245);
    --p5: rgb(146, 3, 182);
    --p6: rgb(33, 2, 46);

    --font1: 'Verdana', sans-serif;
    --font2: "Georgia", sans-serif;
}