@import url(../../variables.css);
.mainHome {
    background: url("/assets/astronomy.jpg");
    width: 100;
    height: 1000px;
    background-size: cover;
    text-align: center;
    position: relative;
}

.overlay:before{
    position: absolute;
    content:" ";
    top:10%;
    left:20%;
    width:60%;
    height:60%;
    display: block;
    z-index:0;
    background-color: rgba(0, 0, 0, 0.37);
    border: solid rgba(0, 0, 0, 0.363);
    border-radius: 1em;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.938);
}

.title {
    padding-top: 12%;
    position: relative;
    z-index: 1;
    color: white;
    margin: auto;
    text-align: center;
}

.goal {
    padding-top: 3%;
    position: relative;
    z-index: 1;
    color: white;
    margin: auto;
    text-align: center;
}

input {
    background-color: rgba(0, 0, 0, 0.6);
} 


.welcome h1 {
    color: white;
    margin: auto;
   text-align: center;
}

.welcome h3 {
    color: white;
    margin: auto;
    text-align: center;
    font-size: 50pt;
}

/*text for setting goal on welcome page*/
.firstgoal {
    font-size: 30pt;
}

/* centers the text */
.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*text for accented text (shoot and stars) on welcome page*/
.accenttext {
    /* font-family: Calibri; */
    font-size: 65pt;
}

/*positioning for enter button*/
.enterbutton {
    margin: 0 auto;
    position: center;
    background-color: rgb(85, 78, 126);
    height: 20%;
    color: white;
    width: 10%;
    font-size: 18pt;
}

.enterbutton:hover {
    background-color: rgb(174, 160, 238);
    opacity: 0.75;
}

.enterinput {
    margin: 0 auto;
    position: center;
    /* background-color: rgb(114, 106, 121); */
    height: 31px;
    color: white;
    font-size: 14pt;
}

.setgoal {
    border-color: rgb(35, 33, 49);
}

.mat-focused .placeholder {
    color: white;
}


