@import url(../../variables.css);

.mainHome {
    background: url("/assets/astronomy.jpg");
    width: 100%;
    height: 900px;
    background-size: cover;
    text-align: center;
    position: fixed;
}

.overlay{
    position: relative;
    content:" ";
    width:60%;
    height:50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.37);
    border: solid rgba(0, 0, 0, 0.363);
    border-radius: 1em;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.938);
}

.title {
    padding-top: 12%;
    position: relative;
    z-index: 1;
    color: white;
    margin: auto;
    text-align: center;
}
