<div class="welcome">
    <h1>WELCOME</h1>
    <p class="blocktext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
             laboris nisi ut aliquip ex ea commodo consequat.</p>


    <a routerLink="/login"><button class="enterbutton" mat-button>ENTER</button></a> -->


</div>
    <!-- <div class="welcome page">
    <div class="welcomeheader">
        <img src="../assets/shootingstar.png" style="max-width: 500px"/>
    </div> -->
<!-- <div class="welcomecontent"> -->
    <!-- <img class="responsive image" src="../assets/shootingstar.png" alt="logo"> -->

<!-- <p class="blocktext">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
     laboris nisi ut aliquip ex ea commodo consequat."</p>

</div>
</div> -->

<!-- <br />
<br />
<br />

<a routerLink="/login"><button class="enterbutton" mat-button>ENTER</button></a> -->



