<div class="welcome">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- <h1>Shooting Stars</h1> -->
    <br />
    <br />
    <h3 class="blocktext">Are you ready to <b class="accenttext">shoot</b> for</h3>
    <h3>the <b class="accenttext">stars?</b></h3>
    <br />
    <br />
    <br />
    <br />
    <h3 class="firstgoal">I aim to...</h3>
    
    <mat-form-field class="setgoal">
            <input matInput placeholder="Set Goal" value="">
          </mat-form-field>
   
       
    <a routerLink="/login"><button class="enterbutton" mat-button>GO</button></a>
</div>
  



