@import url(../../variables.css);
.mainHome {
    background: url("/assets/astronomy.jpg");
    width: 100%;
    height: 900px;
    background-size: cover;
    text-align: center;
    position: fixed;
}

.overlay{
    position: relative;
    content:" ";
    width:60%;
    height:50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.37);
    border: solid rgba(0, 0, 0, 0.363);
    border-radius: 1em;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.938);
}

.title {
    padding-top: 3%;
    position: relative;
    z-index: 1;
    color: white;
    margin: auto;
    text-align: center;
}

.goal {
    padding-top: 3%;
    position: relative;
    z-index: 1;
    color: white;
    margin: auto;
    text-align: center;
}

input {
    background-color: rgba(0, 0, 0, 0.6);
} 


.welcome h1 {
    color: white;
    margin: auto;
   text-align: center;
}

.welcome h3 {
    color: white;
    margin: auto;
    text-align: center;
    font-size: 50pt;
}

/*text for setting goal on welcome page*/
.firstgoal {
    font-size: 30pt;
}

/* centers the text */
.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 3vw;
}

/*text for accented text (shoot and stars) on welcome page*/
.accenttext {
    font-size: 4.5vw;
}

/*positioning for enter button*/
.enterbutton {
    margin: 0 auto;
    position: center;
    background-color: rgb(85, 78, 126);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.938);
    height: 20%;
    color: white;
    width: 15%;
    font-size: 1vw;
}

.enterbutton:hover {
    background-color: rgb(174, 160, 238);
    box-shadow: 6px 6px 25px var(--y1);
    opacity: 0.75;
}

.enterinput {
    margin: 0 auto;
    position: center;
    height: 31px;
    color: white;
    font-size: 14pt;
}

.setgoal {
    border-color: rgb(35, 33, 49);
}

.mat-focused .placeholder {
    color: white;
}

/* Standard CSS Here. */
/* In order for a Media Query to work, 
ALL css that you want queried must go above iPad Pro Portrait.
Portrait = Phone is vertical
Landscape = Phone is horizontal */

/* iPad Pro PORTRAIT */
@media screen and (max-width: 1024px) {

}

/* iPad Pro LANDSCAPE*/
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) {

}

/* iPad PORTRAIT*/
@media screen and (max-width: 769px) {

}

/* iPad LANDSCAPE*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPhone 6/7/8 Plus PORTRAIT */
@media screen and (max-width: 414px) {

}

/* iPhone 6/7/8 Plus LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 736px) and (orientation : landscape) {

}

/* Pixel 2 & Pixel 2 XL PORTRAIT */
@media screen and (max-width: 412px) {

}

/* Pixel 2 LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 731px) and (orientation : landscape) {

}

/* Pixel 2 XL LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 823px) and (orientation : landscape) {

}

/* iPhone 6/7/8 & iPhone X PORTRAIT */
@media screen and (max-width: 400px) {
    .overlay{
        position: relative;
        content:" ";
        width:70%;
        height:15%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 60%;
        background-color: rgba(0, 0, 0, 0.37);
        border: solid rgba(0, 0, 0, 0.363);
        border-radius: 1em;
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.938);
    }

    .enterbutton {
        margin: 0 auto;
        position: center;
        background-color: rgb(85, 78, 126);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.938);
        height: 34px;
        color: white;
        width: 25px;
        font-size: 2vw;
        padding: 0;
    }
    
}

/* iPhone 6/7/8 LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 667px) and (orientation : landscape) {
    .overlay{
        position: relative;
        content:" ";
        width:60%;
        height:25%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 6%;
        background-color: rgba(0, 0, 0, 0.37);
        border: solid rgba(0, 0, 0, 0.363);
        border-radius: 1em;
        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.938);
    }

    .enterbutton {
        margin: 0 auto;
        position: center;
        background-color: rgb(85, 78, 126);
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.938);
        height: 54px;
        color: white;
        width: 100px;
        font-size: 2vw;
        padding: 0;
    }
    
}

/* Iphone X LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 822px) and (orientation : landscape) {

}

/* Galaxy S5 PORTRAIT */
@media screen and (max-width: 375px) {

}

/* Galaxy S5 LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 640px) and (orientation : landscape) {

}

/* iPhone 5/SE PORTRAIT */
@media screen and (max-width: 330px) {

}

/* iPhone 5/SE LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 568px) and (orientation : landscape) {

}
