<div class="mainHome">
  <div class="overlay">
      <div class="title">
          <h3 class="blocktext">Are you ready to <b class="accenttext">shoot</b> for</h3>
          <h3>the <b class="accenttext">stars?</b></h3>
      </div>

      <div class="goal">
          <a routerLink="/viewgoals"><button class="enterbutton" mat-button>Get Started</button></a>
      </div>
  </div>
</div> 
<!--SAVINGS JUST IN CASE NEED TO CHANGE ABOVE FOR RESPONSIVENESS-->
<!-- <div class = "mainHome">
<mat-card class="overlay">
    <mat-card-header class="title">
      <mat-card-title>Are you ready to shoot for the stars?</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="mainEnterButton">
        <a routerLink="/viewgoals"><button mat-button>Get Started</button></a>
    </mat-card-actions>
  </mat-card>
</div> -->
