
@import url(../../variables.css);

.register {
    background-color: rgb(250, 250, 250);
    height: 1000px;
}

body {
    width: 100%;
    height: 1000px; 
    text-align: center;
}


/*register form positioning*/
.registerform {
    display: block;
    text-align: center;
    justify-content: center;
    position: relative;
    width: 30%;
    height: 65%;
    padding: 20px;
    margin: auto; 
    border: solid 1px;
    border-radius: 3%;
    color: rgb(83, 75, 128);
}

/*register button styling*/
.registerbutton {
    background-color: rgb(83, 75, 128);
}


.registerbutton:hover {
    background-color: rgb(137, 125, 182);
    opacity: 0.75;
}

/*cancel link*/
.cancel {
    color: rgb(83, 75, 128);
}
