@import url(../../variables.css);

.settingsWrapper {
    height: 900px;
    background-color:rgb(250, 250, 250);
    position: relative;
}

.cardWrapper {
    position: absolute;
    padding-top: 8%;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    background-color: white;
    border: 2px solid var(--p4);
    box-shadow: 5px 5px 30px var(--p5);
}

.listWrapper {
    position: relative;
    width: 50%;
    margin: auto;
    border: .5px solid rgb(83, 75, 128);
    height: 46%;
    background-color: white;
}

.settingsLabels {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    border-right: .5px solid rgb(83, 75, 128);
}

.settingsList {
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0;
}


.disabledSettings {
    background-color: var(--p3);
    height: 1000px;
    text-align: center;
    position: relative;
}

.disabledOverlay:before{
    position: absolute;
    content:" ";
    top:10%;
    left:20%;
    width:60%;
    height:60%;
    display: block;
    z-index:0;
    background-color: var(--p5);
    border: solid rgba(0, 0, 0, 0.363);
    border-radius: 1em;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.342);
}

.disabledTitle {
    padding-top: 15%;
    position: relative;
    z-index: 1;
    color: white;
    margin: auto;
    text-align: center;
    overflow-wrap: normal;
}

.disabledGoal {
    padding-top: 3%;
    position: relative;
    z-index: 1;
    color:rgb(85, 78, 126);
    margin: auto;
    text-align: center;
}

.disabledenterbutton {
    margin: 0 auto;
    position: center;
    background-color: rgb(69, 63, 102);
    height: 31px;
    color: white;
    height: 80px;
    width: 200px;
    border: .5px solid var(--p3);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.342);
}

.updateuser {
    background-color: rgb(85, 78, 126);
}

.updateuser:hover {
    background-color: gb(1, 1, 2);
    opacity: 0.75;
}

.deleteuser {
    background-color: rgb(85, 78, 126);
}

.deleteuser:hover {
    background-color: rgb(240, 6, 6);
    opacity: 0.75;
}
